LIGHTHOUSE_SERVER_COUNTRY_CODE="GB"
LIGHTHOUSE_SERVER_TIDAL_API_CLIENT_ID="*** your client id ***"
LIGHTHOUSE_SERVER_TIDAL_API_SCOPES=""
LIGHTHOUSE_SERVER_TIDAL_API_REDIRECT_ADDRESS="*** your redirect address ***"
LIGHTHOUSE_SERVER_TIDAL_API_REDIRECT_PORT=*** your redirect port***
LIGHTHOUSE_SERVER_DATA_PATH="/srv/Data"
LIGHTHOUSE_SERVER_TIDEKEEPER_PATH="/srv/tidekeeper/TIDALDL-PY/tidal_dl/__main__.py"
